body {
  text-align: center;
  background-color:darkgreen;
  padding-top: 10px;
  font-size: x-large;
  font-weight: bold;
  padding-top: 20px;
}

.hidden {
  display: none;
}

img {
  height: 400px;
  width: 600px;
  padding-top: 10px;
  padding-bottom: 20px;
}