body {
  text-align: center;
  background-color:darkgreen;
  padding-top: 10px;
  font-size: x-large;
  font-weight: bold;
  padding-top: 5px;
}

.hidden {
  display: none;
}

img {
  height: 300px;
  width: 500px;
  padding-top: 10px;
  padding-bottom: 20px;
}